/* 1088 */

.caropka-headline__menu__p:last-child {
	
	border-bottom: none !important;
	
}

.caropka-headline,
.caropka-headline__text__help {
	
	transition: all 300ms !important;
	filter: grayscale(0) !important;
	
}

main {
	
	margin-top: 0 !important;
	
}

*::selection {
  background-color: rgba(128, 128, 128, 0.85) !important;
}

*::hover {
  filter: grayscale(0) !important;
}

.caropka-headline__count {
	
	display: block !important;
	position: absolute !important;
	
	width: 262px !important;
	height: 40px !important;
	padding: 0 !important;
	line-height: 40px !important;
	padding-left: 14px !important;
	padding-bottom: 2px;
	outline: none !important;
	border: none;
	border-radius: 7px;
	background-color: #FFFFFF !important;
	font-size: 12px !important;
	margin-left: 500px;
	font-weight: 200;
	
	font-family: 'Roboto', sans-serif !important;
	color: black;
	margin-left: 0;
	top: 365px;
	margin-left: 30px;
	
}

.caropka-headline__count:focus {
	
	/* box-shadow: 0px 0px 2.5px black; */
	
}

.caropka-headline {
	
	font-family: 'Roboto', sans-serif !important;
	
	/*
	
    background-color: rgba(48, 150, 172, 0.98);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzAwZTJiNCIgc3RvcC1vcGFjaXR5PSIwLjk1IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNWY0YWEzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzAwZTJiNCIgc3RvcC1vcGFjaXR5PSIwLjk1IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNWY0YWEzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
        -webkit-gradient(radial, left bottom, 0, left bottom, 723,color-stop(0, rgba(0, 226, 180, 0.95)),color-stop(1, rgb(95, 74, 163)));
    background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner,rgba(0, 226, 180, 0.95) 0%,rgb(95, 74, 163) 100%);
    background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom,rgba(0, 226, 180, 0.95) 0%,rgb(95, 74, 163) 100%);
    background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner,rgba(0, 226, 180, 0.95) 0%,rgb(95, 74, 163) 100%);
    
    */
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFC340;
    background-blend-mode: hue;
    box-sizing: border-box !important;
}

.caropka-headline * {
	box-sizing: border-box !important;
}

.caropka-headline__menu-line {
	
	display: block;
	position: absolute;
	width: 100%;
	height: 40px;
	left: -1px;
	top: 440px;

	background: #FCA72A;
	
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .caropka-headline {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f200e2b4",endColorstr="#ff5f4aa3",GradientType=0);
    }
}

.caropka-headline__newsFrame {
	
	display: block;
	position: absolute;
	width: 100%;
	height: calc(100% - 80px);
	border-radius: 5px;
	background-color: rgba(224, 224, 224, 0.9);
	border: none;
	box-shadow: 0px 0px 2.5px black;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__newsFrameJS { display: none; }

.caropka-headline__count__go {
	/*
	display: block;
	position: absolute;
	
	border: none;
	outline: none;
	text-align: center;
	text-decoration: underline;
	width: auto;
	margin-right: 30px;
	margin-left: 30px;
	height: 60px;
	line-height: 60px;
	padding: none !important;
	padding-left: 14px;
	
	text-align: left;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	color: black;
	*/
	position: absolute;
	width: 120px;
	height: 40px;
	top: 365px;
	margin-left: 320px;

	background: #4CA2B2;
	mix-blend-mode: normal;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 12px;
	outline: none;
	line-height: 39px;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
}

.caropka-headline__count__delete {
	
	display: block;
	position: absolute;
	
	border: none;
	outline: none;
	text-align: center;
	text-decoration: underline;
	width: auto;
	height: 60px;
	line-height: 60px;
	padding: none !important;
	top: 430px;
	font-size: 12px;
	margin-left: 32px;
	
	font-family: 'Roboto', sans-serif !important;
	color: black;
	
}

.caropka-headline__count__delete:hover {
	
	cursor: pointer;
	
}

.caropka-headline__count__go:hover {
	
	cursor: pointer;
	
}

.caropka-code-window {
	
	display: block;
	position: absolute;
	width: 800px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	background-color: rgba(224, 224, 224, 0.92);
	left: 50%;
	margin-left: -400px;
	top: 240px;
	font-size: 12px;
	padding: 20px;
	border: none;
	outline: none;
	transition: all 300ms;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-code-window__close {
	
	display: block;
	position: absolute;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
	background-color: rgba(224, 224, 224, 0.92);
	left: 50%;
	margin-left: 340px;
	top: 260px;
	font-size: 12px;
	padding: 20px;
	border: none;
	outline: none;
	transition: all 300ms;
	
	background-image: url(https://caropka.ru/img/33.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}

.caropka-headline__count__ec {
	
	display: block;
	position: absolute;
	
	border: none;
	outline: none;
	text-align: center;
	text-decoration: underline;
	width: auto;
	margin-right: 30px;
	height: 60px;
	line-height: 60px;
	padding: none !important;
	padding-left: 14px;
	top: 430px;
	margin-left: 144px;
	
	text-align: left;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	color: black;
	
}

.caropka-headline__count__custom {
	
	display: block;
	position: absolute;
	
	border: none;
	outline: none;
	text-align: center;
	text-decoration: underline;
	width: auto;
	height: 60px;
	line-height: 60px;
	padding: none !important;
	padding-left: 14px;
	top: 430px;
	left: 324px;
	
	text-align: left;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	color: black;
	
}

.caropka-headline__count__custom:hover {
	
	cursor: pointer;	
	
}

.caropka-headline__count__close-module {
	
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	left: 100%;
	margin-left: -40px;
	top: 12px;
	
	background-position: center;
	background-size: 50%;
	background-image: url(http://images.vfl.ru/ii/1563188301/1181c3e2/27211938.png);
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 0px;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__count__close-module__docs {
	
	margin-left: -216px;
	font-size: 11px;
	text-align: center;
	line-height: 28px;
	height: 30px;
	border-radius: 5px;
	width: 120px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background-image: none;
	top: 0px;
	
}

.caropka-headline__count__close-module__cont {
	
	margin-left: -351px;
	
}

.caropka-headline__count__close-module__cont__table {
	
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 2.5px black;
	top: 0;
	left: 0;
	z-index: 50;
	overflow: hidden;
	transform: translateY(-300px);
	border-bottom: 6px solid #4CA2B2;
	
}

.caropka-headline__count__close-module__cont__table p {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 20px;
	font-size: 14px;
	padding: 14px;
	padding-left: 14px;
	padding-right: 40px;
	border-bottom: 1px dashed grey;
	
}

.__cont__table__close {
	
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: #4CA2B2;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 41px;
	color: white;
	text-align: center;
	font-size: 12px;
	
}

.__cont__table__close:hover {
	
	cursor: pointer;
	
}

.caropka-headline__count__close-module__cont__table p:nth-of-type(2) {
	
	padding-left: 85px;
	
}

.__cont__table__logo {
	
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 0%;
	top: 50%;
	margin-top: -25px;
	left: 0;
	margin-left: 18px;
	
	background-size: 95%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(http://images.vfl.ru/ii/1563135979/37860f98/27206265.png);
	
}

.caropka-headline__count__hidden-module {
	
	background-position: 6px 16px;
	background-size: 55%;
	background-image: url(http://images.vfl.ru/ii/1563188591/995de611/27212151.png);
	background-repeat: no-repeat;
	margin-left: -80px;
	font-size: 12px;
	border-right: 2px solid white;
	line-height: 30px;
	border-radius: 0px;
	text-align: center;
	
}

.caropka-headline__count__close-module:hover {
	
	cursor: pointer;
	
}

.caropka-headline__count__ec:hover {
	
	cursor: pointer;
	
}

.caropka-code-window__close:hover {
	
	cursor: pointer;
	
}

.caropka-headline__head {
	
	color: black !important;
	font-weight: 200 !important;
	
}

.caropka-headline__head:hover {
	
	cursor: pointer;
	
}

.caropka-headline__head__news {
	
	display: block;
	font-weight: 200;
	font-family: 'Roboto', sans-serif !important;
	
	/**/
	
	position: absolute;
	width: 120px;
	height: 40px;
	top: 0px;
	margin-left: 168px;
	overflow: hidden;

	background: #4CA2B2;
	mix-blend-mode: normal;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 12px;
	outline: none;
	line-height: 39px;
	color: white;
	text-align: center;
	
}

.caropka-headline__head__news:hover {
	
	cursor: pointer;
	
}

.caropka-headline__head--help {
	
	background-image: url(http://images.vfl.ru/ii/1563173180/caa8e91e/27209592.png);
	background-position: center;
	background-size: 85%;
	background-repeat: no-repeat;
	height: auto !important;
	padding: 24px !important;
	padding-bottom: 48px !important;
	padding-right: 45px !important;
	padding-left: 45px !important;
	text-align: center !important;
	background-color: transparent !important;
	line-height: 18px !important;
	width: 373px !important;
	
	left: 50% !important;
	margin-left: -154px !important;
	margin-top: 528px !important;
	box-sizing: border-box !important;
}

.caropka-headline__count__ec__module {
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	position: absolute;
	width: calc(100% - 450px);
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	top: 0;
	left: 450px;
	z-index: 12;
	overflow: hidden;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.__ec__module__tab {
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	position: relative;
	width: 500px;
	height: 220px;
	box-shadow: 0px 0px 2.5px black;
	margin-right: 20px;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.__ec__module__tab:nth-child(2) {
	
	width: 400px;
	overflow-y: scroll;
	display: block;
	
}

.__ec__module__tab__line {
	
	display: block;
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px dashed grey;
	line-height: 50px;
	padding-left: 14px;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.__ec__module__tab__line:nth-child(1) {
	
	background-color: black;
	
}

.__ec__module__tab__line:hover {
	
	cursor: pointer;
	
}

.__ec__module__tab__dataType {
	
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	border-bottom: 1px dashed grey;
	overflow: hidden;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.__ec__module__tab__dataType:nth-child(6) {
	
	border: none;
	
}

.__ec__module__tab__dataType__inp {
	
	display: block !important;
	position: absolute !important;
	width: 90% !important;
	left: 10% !important;
	height: 60px !important;
	border: none !important;
	outline: none !important;
	top: 0 !important;
	border-left: 2px solid #222f41 !important;
	font-size: 12px !important;
	padding-left: 14px !important;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text {
	
	display: none;
	opacity: 0;
	position: absolute;
	width: 500px;
	height: auto;
	max-height: 700px;
	
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
	background-color: #F2F2F2;
	
	top: 0;
	margin-top: 0px;
	left: 0;
	margin-left: 30px;
	border: 4px solid #FFC340;
	padding: 20px;
	padding-top: 40px;
	
	font-family: 'Roboto', sans-serif !important;
	overflow: hidden;
	z-index: 100;
	box-sizing: border-box;
	
}

.caropka-headline__text__icon {
	
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	
	top: -50px;
	margin-top: 38px;
	margin-left: 12px;
	left: 0;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}

.caropka-headline__text__p:nth-of-type(1) .caropka-headline__text__icon {
	background-image: url(http://images.vfl.ru/ii/1563629187/bf0beae5/27272198.png);
}
.caropka-headline__text__p:nth-of-type(2) .caropka-headline__text__icon {
	background-image: url(http://images.vfl.ru/ii/1563629187/00e5250b/27272196.png);
}
.caropka-headline__text__p:nth-of-type(3) .caropka-headline__text__icon {
	background-image: url(http://images.vfl.ru/ii/1563629187/d23e7f2d/27272197.png);
}

.caropka-headline__text__p:nth-of-type(1) .caropka-headline__text__icon {
	background-image: url(http://images.vfl.ru/ii/1563629187/d23e7f2d/27272197.png);
}
.caropka-headline__text__p:nth-of-type(2) .caropka-headline__text__icon {
	background-image: url(http://images.vfl.ru/ii/1563629187/d23e7f2d/27272197.png);
}

.caropka-headline__text__p:nth-of-type(1),
.caropka-headline__text__p:nth-of-type(2) {
	
	margin-bottom: 24px;
	
}

@keyframes line {
	
	from {
		
		background-color: white;
		
	}
	
	50% {
		
		background-color: rgba(178, 178, 178, 0.6);
		
	}
	
	to {
		
		background-color: white;
		
	}
	
}

.caropka-headline__text__p:nth-of-type(2) {
	
	animation-name: line;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
}

.caropka-headline__text__p:nth-of-type(2):hover {
	
	animation-play-state: paused;
	
}

.caropka-headline__text__p:nth-of-type(2):hover {
	
	border-right: 12px solid #4CA2B2;
	
}

.caropka-headline__text__p:nth-of-type(1),
.caropka-headline__text__p:nth-of-type(2),
.caropka-headline__text__p:nth-of-type(3) {
	
	overflow: visible !important;
	
}

.caropka-headline__text__p {
	
	display: block;
	position: relative;
	width: 100%;
	padding-left: 14px;
	height: 50px;
	line-height: 49px !important;
	margin: 0;
	font-size: 12px;
	color: black !important;
	overflow: hidden;
	
	font-family: 'Roboto', sans-serif !important;
	background-color: white;
	margin-bottom: 12px;
	
	border-left: 12px solid #FFC340;
	border-right: 12px solid #FFC340;
		
}

.caropka-headline__text__p__collect {
	
	display: block;
	position: absolute;
	width: 360px;
	height: 380px;
	background-color: #F2F2F2;
	border-radius: 5px;
	z-index: 100;
	left: 0%;
	margin-left: 140px;
	top: 0px;
	margin-top: 20px;
	box-shadow: 0px 0px 5px grey;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

.caropka-headline__text__p__collect > span {
	
	display: block;
	position: relative;
	width: 80%;
	height: auto;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #4CA2B2;
	font-size: 13px;
	padding-left: 14px;
	padding-right: 60px;
	
}

.__p__collect__line__attr {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 18px;
	padding: 4px;
	padding-left: 6px;
	font-size: 13px;
	border-left: 2px solid grey;
	margin-top: 8px;
	
}

.caropka-headline__text__p__collect > span:last-of-type {
	
	margin-bottom: 20px;
	
}

.__p__collect__line--title {
	
	border-bottom: 2px solid #FCA72A !important;
	font-style: italic;
	
}

.caropka-headline__text__p__collect > span:hover {
	
	cursor: pointer;
	background-color: white;
	
}

.__p__collect__line__select {
	
	display: block;
	position: absolute;
	width: 40px;
	height: 20px;
	border-left: 2px solid grey;
	font-size: 10px;
	text-align: center;
	line-height: 20px;
	left: 100%;
	margin-left: -52px;
	top: 50%;
	margin-top: -10px;
	
}

.__p__collect__line__select:hover {
	
	border-color: #FCA72A;
	
}

.caropka-headline__text__p:nth-of-type(1),
.caropka-headline__text__p:nth-of-type(2),
.caropka-headline__text__p:nth-of-type(3) {
	
	border-left: none;
	padding-left: 80px;
	
}

.caropka-headline__text__p:nth-of-type(2):hover {
	
	cursor: pointer;
	
}

.caropka-headline__text__p:nth-of-type(4):hover {
	
	cursor: pointer;
	
}

.caropka-headline__text__p:nth-of-type(4) {
	
	height: 160px;
	overflow-y: scroll;
	min-height: 40px;
	padding-bottom: 0px;
	width: calc(100% + 50px);
	
}

.caropka-headline__text__p:nth-of-type(5) {
	
	border-top: 1px dashed grey;
	
}

.caropka-headline__text__select {
	
	display: block;
	position: relative;
	width: 100%;
	height: 40px !important;
	padding: 0 !important;
	text-align: center;
	font-size: 12px !important;
	background-color: transparent;
	color: black !important;
	margin-top: 14px;
	border-radius: 0px !important;
	margin-bottom: 14px;
	padding-bottom: 1px !important;
	
	border: none !important;
	outline: none !important;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__select:nth-of-type(1) {
	
	background-color: white;
	border-left: 12px solid #FFC340 !important;
	border-right: 12px solid #FFC340 !important;
	
}

.caropka-headline__text__select:nth-of-type(2) {
	
	border-bottom: 1px dashed rgba(178, 178, 178, 0.7) !important;
	
}

.caropka-headline__text__go {
	
	display: block;
	position: relative;
	width: 240px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 39px;
	text-align: center;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	
	background-color: #4CA2B2;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	
}

.caropka-headline__text__go:nth-of-type(1) {
	
	background-color: #4CA2B2;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	line-height: 39px;
	color: white;
	
}

.caropka-headline__text__go2 {
	
	background-color: transparent;
	box-shadow: none;
	box-shadow: 0px 0px 2.5px black;
	margin-bottom: 20px;
	
	font-family: 'Roboto', sans-serif !important;
	
	background-color: #FCA72A;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	line-height: 39px;
	color: white;
	
}

.caropka-headline__text__check {
	display: block;
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 0px 2.5px grey;
	
	top: 100%;
	left: 100%;
	margin-left: -86px;
	margin-top: -84px;
	
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(http://images.vfl.ru/ii/1582097061/87bd6975/29629383.png);
}

.caropka-headline__text__check:hover {
	cursor: pointer;
}

.caropka-headline__text__go2:hover {
	
	background-color: #FFC340;
	
}

.caropka-headline__text__go:hover {
	
	cursor: pointer;
	
}

.you-element-here {
	
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	top: 0;
	left: 0;
	z-index: 10000;
	transition: all 300ms;
	background-image: url(http://images.vfl.ru/ii/1563619884/91691dbc/27271146.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__p__attr {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	padding-left: 14px;
	border-bottom: 1px dashed rgba(224, 224, 224, 1);
	border-left: 2px solid #4CA2B2;
	
	font-family: 'Roboto', sans-serif !important;
	border-right: 8px solid transparent;
	
}

.caropka-headline__text__p__attr:hover {
	border-right: 8px solid #4CA2B2;
}

.caropka-headline__text__p__attr:last-of-type {
	
	border-bottom: none;
	
}

.caropka-headline__menu__gblock {
	
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed grey;
	padding-left: 12px;
	font-size: 12px;
	color: black;
	padding-bottom: 4px;
	background-color: rgba(224, 224, 224, 0.7);
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__codeBlock {
	
	display: block;
	position: absolute;
	width: 400px;
	/* height: 280px; */
	height: 180px;
	line-height: 24px;
	font-size: 12px;
	padding: 10px;
	padding-left: 16px;
	border-radius: 0px;
	background-color: rgba(224, 224, 224, 1);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 4px solid #FFC340;
	
	top: 100%;
	margin-top: -340px;
	left: 50%;
	margin-left: -200px;
	
	font-family: 'Roboto', sans-serif !important;
	outline: none;
	overflow-y: hidden;
	
}

.caropka-headline__text__codeBlock__publ {
	
	display: block;
	position: absolute;
	width: 240px;
	height: 40px;
	line-height: 38px;
	padding-bottom: 2px !important;
	font-size: 12px;
	text-align: center;
	background-color: #74C8D0;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	top: 100%;
	margin-top: -80px;
	left: 50%;
	margin-left: -120px;
	border-radius: 5px;
	color: white !important;
	
}

span.caropka-headline__text__codeBlock__publ {
	
	background-color: #FFC340;
	
}

.__text__codeBlock__publInp {
	
	top: 100%;
	margin-top: -140px;
	outline: none;
	border: none;
	padding-bottom: 1px;
	
}

.caropka-headline__text__codeBlock__publ:hover {
	
	cursor: pointer;
	
}

.caropka-headline__about-site {
	
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(47, 47, 47, 0.75);
	
	font-family: 'Roboto', sans-serif !important;
	opacity: 0;
	transition: all 40ms !important;
	z-index: 10;
	
}

.caropka-headline__about-site__table {
	
	display: block;
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
	background-color: #F2F2F2;
	z-index: 100;
	overflow-x: hidden;
	
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-bottom: 20px;
	box-sizing: border-box;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__about-site__table__modal {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	width: calc(100% - 120px);
	height: calc(100vh - 140px);
	border: 2px solid #FFC340;
	margin-top: 20px;
	border-radius: 5px;
	overflow: hidden;
	
}

.__about-site__table__modal__ws {
	
	display: block;
	position: relative;
	width: calc(20% + 40px);
	padding-right: 20px;
	height: 100%;
	overflow-y: scroll;
	box-shadow: 0px 0px 2.5px black;
	background-color: white;
	overflow-x: hidden;
	
}

.__about-site__table__modal__vertical {
	
	display: block;
	position: absolute;
	width: 40px;
	height: 100%;
	background-color: #FFC340;
	box-shadow: 0px 0px 2.5px black;
	left: 20%;
	margin-left: 6px;
	
}

.__about-site__table__modal__ws__colors {
	
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	position: relative;
	width: 100%;
	height: 60px;
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
	margin-top: 29px;
	
}

.__about-site__table__modal__ws__colors span {
	
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 2.5px grey;
	margin-left: 16px;
	
}

.__about-site__table__modal__ws__colors span:hover {
	
	cursor: pointer;
	
}

.__about-site__table__modal__ws__colors span:nth-of-type(1) {
	
	background-color: white;
	
}

.__about-site__table__modal__ws__colors span:nth-of-type(2) {
	
	background-color: grey;
	
}

.__about-site__table__modal__ws__colors span:nth-of-type(3) {
	
	background-color: black;
	
}

.__about-site__table__modal__wsTwo {
	
	display: block;
	position: relative;
	width: calc(80% - 40px);
	height: 100vh;
	
}

.__table__modal__wsTwo__modal {
	
	display: block;
	position: relative;
	width: 80%;
	height: 70%;
	box-shadow: 0px 0px 2.5px black;
	border: 2px solid transparent;
	border-radius: 5px;
	background-color: #FFFFFF;
	
	left: 10%;
	top: 15%;
	padding: 14px;
	
}

.__table__modal__wsTwo__modal__fos {
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	position: absolute;
	width: 300px;
	height: 140px;
	border-top: 2px solid grey;
	
	top: 100%;
	margin-top: -140px;
	left: 50%;
	margin-left: -150px;
	
}

.__table__modal__wsTwo__modal__fos input {
	
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	outline: none;
	border: none;
	border-bottom: 1px dashed grey;
	padding-bottom: 2px;
	background-color: transparent;
	
}

.__table__modal__wsTwo__modal__fos__sbm {
	
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
	line-height: 39px;
	text-align: center;
	font-size: 12px;
	box-shadow: 0px 0px 2.5px black;
	border-radius: 5px;
	background-color: #FFC340;
	margin-top: 20px;
	
}

.__table__modal__wsTwo__modal__fos__sbm:hover {
	
	cursor: pointer;
	
}

.__table__modal__wsTwo__modal__content {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-tsart;
	
	position: relative;
	width: 100%;
	height: calc(100% - 145px);
	background-color: #C0C0C0;
	
}

.__table__modal__wsTwo__modal__content__banner {
	
	display: block;
	position: relative;
	width: calc(40% - 60px);
	height: calc(100% - 60px);
	border-right: 1px solid white;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 1.5px black;
	border: none;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 30px;
	
	/* http://images.vfl.ru/ii/1544034642/1a99a60c/24486096.jpg */
	
	padding: 30px;
	background-image: url(http://images.vfl.ru/ii/1566387285/c0797278/27609434.jpg);
	
}

.__table__modal__wsTwo__modal__content__discr {
	
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px 30px;
	
}

.__content__banner__hidden {
	
	display: none;
	
}

.__ws__noBorder--active {
	
	background-color: #FFC340 !important;
	color: black !important;
	
}

.__table__modal__wsTwo__modal__content__title {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 30px;
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	padding: 0 30px;
	
}

.__about-site__table__modal__ws__param__title {
	
	width: 100% !important;
	border-right: none !important;
	
}

.__about-site__table__modal__ws__param {
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 1px dashed grey;
	overflow: hidden;
	
}

.__about-site__table__modal__ws__param:last-child {
	
	border-bottom: none;
	
}

.__about-site__table__modal__ws__param__p {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 20px;
	font-size: 12px;
	color: grey;
	padding-left: 8px;
	margin-left: 10px;
	
	border-left: 2px solid #FFC340;
	
}

.__about-site__table__modal__ws__paramColor {
	
	flex-wrap: wrap;
	padding: 10px;
	height: auto;
	margin-top: 14px;
	padding-bottom: 4px;
	padding-top: 14px;
	
}

.__about-site__table__modal__ws__paramColor > span {
	
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	box-shadow: 0px 0px 2.5px grey;
	border-radius: 2.5px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}

.__about-site__table__modal__ws__param__shadow {
	
	display: block;
	position: relative;
	width: 50%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 14px;
	
}

.__about-site__table__modal__ws__param__shadow span {
	
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	box-shadow: 0px 0px 2.5px black;
	top: 50%;
	margin-top: -9px;
	left: 100%;
	margin-left: -29px;
	border-radius: 2.5px;
	
}

.__about-site__table__modal__ws__param__shadow span:hover {
	
	cursor: pointer;
	
}

.__param__shadow__true {
	
	background-color: #FFC340;
	
}

.__about-site__table__modal__ws__paramColor > span:hover {
	
	cursor: pointer;
	
}

.__about-site__table__modal__ws__param input {
	
	display: block;
	position: relative;
	width: 50%;
	height: 40px;
	line-height: 40px;
	
	outline: none;
	border: none;
	padding-left: 14px;
	font-size: 12px;
	
}

.__about-site__table__modal__ws__param input:nth-of-type(1) {
	
	border-right: 1px dashed grey;
	
}

.__about-site__table__modal__ws__name {
	
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px dashed grey;
	font-size: 12px;
	padding-left: 14px;
	font-style: italic;
	
}

.__about-site__table__modal__ws__noBorder {
	
	display: block;
	position: relative;
	width: 140px;
	height: 36px;
	line-height: 34.5px;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	
	left: 50%;
	margin-left: -70px;
	top: 14px;
	background-color: grey;
	
}

.__table__modal__wsTwo__modal__content__text {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 20px;
	font-size: 13px;
	margin-top: 22px;
	
	outline: none;
	border: none;
	background-color: transparent;
	height: calc(100% - 140px);
	min-height: 100px;
	border-left: 2px solid grey;
	padding: 14px;
	
}

.__about-site__table__modal__ws__noBorder:hover {
	
	cursor: pointer;
	
}

.caropka-headline__about-site__table__t {
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% - 60px);
	
	max-width: 1950px;
	min-width: 1650px;
	
	margin-left: 30px;
	height: auto;
	min-height: 40px;
	
	font-family: 'Roboto', sans-serif !important;
	margin-top: 100px;
	
}

.__about-site__table__t__error {
	
	display: block;
	position: relative;
	width: 500px;
	height: auto;
	line-height: 20px;
	font-size: 14px;
	color: black;
	border: 4px solid #FFC340;
	padding: 20px;
	text-align: center;
	
}

.caropka-headline__about-site__table__t__line {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	width: 100%;
	height: auto;
	background-color: white;
	border-bottom: 2px solid #F2F2F2;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__about-site__table__t__line:nth-of-type(2) .__t__line__ceil:nth-child(1),
.caropka-headline__about-site__table__t__line:nth-of-type(4) .__t__line__ceil:nth-child(1),
.caropka-headline__about-site__table__t__line:nth-of-type(6) .__t__line__ceil:nth-child(1),
.caropka-headline__about-site__table__t__line:nth-of-type(8) .__t__line__ceil:nth-child(1) {
	
	border-left: 10px solid #74C8D0 !important;
	
}

.caropka-headline__about-site__table__t__line:last-of-type { border: none; }

.__t__line__ceil {
	
	display: block;
	position: relative;
	height: 60px;
	line-height: 60px;
	text-align: left;
	width: 10%;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	
	font-family: 'Roboto', sans-serif !important;
	color: #FFC340;
	border-left: 10px solid #FFC340;
	
}

.__t__line__ceil:nth-child(2) {
	
	width: 90%;
	border-left: 2px solid #FFC340 !important;
	text-align: left;
	padding-left: 14px;
	
	color: black;
	height: auto; 
	line-height: 22px; 
	padding-top: 12px; 
	padding-bottom: 12px;
	
}

.caropka-headline__about-site__table__close {
	
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	
	background-image: url(https://caropka.ru/img/33.png);
	background-size: cover;
	background-position: center;
	
	left: 100%;
	margin-left: -50px;
	top: 20px;
	
	font-family: 'Roboto', sans-serif !important;
	cursor: pointer;
	z-index: 10;
	
}

.caropka-headline__about-site__table__headline {
	
	display: block;
	position: relative;
	width: 100%;
	height: 80px;
	box-shadow: 0px 0px 2.5px black;
	margin-top: 0px;
	background-color: #FFC340;
	font-size: 14px;
	
	padding-left: 24px;
	line-height: 80px;
	
	font-family: 'Roboto', sans-serif !important;
	margin-bottom: 0px;
	z-index: 2;
	box-shadow: 0px 0px 2.5px black;
	font-weight: 200;
	
}

.caropka-headline__about-site__table__trigger {
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;
	
	font-family: 'Roboto', sans-serif !important;
	box-sizing: border-box;
	margin-bottom: 20px;
	background-color: white;
	
}

.__table__trigger__name {
	
	display: block;
	position: relative;
	width: 300px;
	height: 30px;
	line-height: 31px;
	border-right: 2px solid #FFC340;
	color: #FFC340;
	z-index: 4;
	
	text-align: left;
	padding-left: 88px;
	font-size: 12px;
	box-sizing: border-box;
	
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__about-site__table__trigger:nth-of-type(1) {
	
	margin-top: 30px;
	
}

.caropka-headline__about-site__table__trigger:nth-of-type(1) .__table__trigger__name__logo {
    background-image: url(http://images.vfl.ru/ii/1563888232/a6d6c0c5/27306087.png);
}
.caropka-headline__about-site__table__trigger:nth-of-type(2) .__table__trigger__name__logo {
    background-image: url(http://images.vfl.ru/ii/1563888232/d07c3552/27306085.png);
}
.caropka-headline__about-site__table__trigger:nth-of-type(3) .__table__trigger__name__logo {
    background-image: url(http://images.vfl.ru/ii/1563888232/e2cb1627/27306086.png);
}

.caropka-headline__about-site__table__trigger:nth-of-type(1) .__table__trigger__name__logo {
    background-image: url(http://images.vfl.ru/ii/1563888232/e2cb1627/27306086.png);
}
.caropka-headline__about-site__table__trigger:nth-of-type(2) .__table__trigger__name__logo {
    background-image: url(http://images.vfl.ru/ii/1563888232/e2cb1627/27306086.png);
}

.__table__trigger__name__logo {
	
	display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -26px;
    margin-left: 20px;
	
}

.__table__trigger__value {
	
	display: block;
	position: relative;
	width: 90%;
	height: 60px;
	outline: none;
	border: none;
	padding-left: 14px;
	font-size: 12px;
	
	font-family: 'Roboto', sans-serif !important;
	border-radius: 12px solid #FFC340;
	
}

.caropka-headline__text__help {
	
	display: block;
	position: fixed;
	width: 400px;
	height: auto;
	min-height: 100px;
	line-height: 22px;
	padding: 14px;
	padding-top: 10px;
	border-radius: 0px;
	box-shadow: 0px 0px 2.5px black;
	top: 0;
	left: 100vw;
	margin-left: -450px;
	margin-top: 30px;
	/* background-image: url(http://images.vfl.ru/ii/1563169206/f46beb11/27208961.png); */
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F2F2F2;
	background-blend-mode: hue;
	border: 4px solid #FFC340;
	padding-bottom: 24px;
	box-sizing: border-box;
	z-index: 20;
	transition: all 40ms !important;
	border: 5px solid #4CA2B2;
}

.caropka-headline__text__help__top {
	display: block;
	position: absolute;
	width: 70px;
	height: 20px;
	top: 0;
	margin-top: -20px;
	left: 50%;
	margin-left: -35px;
	z-index: 12;
	background-color: #4CA2B2;
}

.caropka-headline__text__help__border {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -208px;
	height: 18px;
	width: 416px;
	background-color: #FCA72A;
	border-radius: 34px;
	margin-top: -9px;
	overflow: hidden;
}

.caropka-headline__text__help__border:nth-of-type(2) {
	
	top: 100%;
	margin-top: -9px;
	border-radius: 0px;
	
}

.caropka-headline__text__help__border:nth-of-type(2) .caropka-headline__text__help__borderTwo {
	
	margin-left: -208px;
	border-radius: 0px;
	
}

.caropka-headline__text__help__borderTwo {
	background-color: #FFC340;
	margin-left: -198px;
	margin-top: -9px;
}

.caropka-headline__text__help__ws {
	
	display: none;
	opacity: 0;
	
	position: absolute;
	width: 220px;
	height: 50px;
	background-color: #4CA2B2;
	left: 0;
	margin-left: -220px;
	top: 0;
	margin-top: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	color: white;
	transition: all 300ms;
	
}

.caropka-headline__text__help__ws:hover {
	
	cursor: pointer;
	box-shadow: 0px 0px 2.5px black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -240px;
	
}

.caropka-headline__text__help__head {
	
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 38px;
	font-size: 13px;
	font-weight: 200;
	text-align: 200;
	text-align: center;
	margin: 0 !important;
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__help__head__drag {
	
	display: block;
	position: absolute;
	
	width: 30px;
	height: 30px;
	top: 3.5px;
	left: 0;
	margin-left: -9px;
	
	background-position: center;
	background-size: 80%;
	background-image: url(http://images.vfl.ru/ii/1563542670/fe85878e/27262560.png);
	background-repeat: no-repeat;
	
}

.caropka-headline__text__help__head__drag:hover {
	
	cursor: pointer;
	
}

.caropka-headline__text__help__mess {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	line-height: 18px;
	font-size: 13px;
	padding: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #C4C4C4;
	box-sizing: border-box;
	margin-bottom: 0 !important;
	color: black !important;
	margin-top: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__help__messHelp__steps {
	
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
	line-height: 37px;
	font-size: 13px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	
	background: #FCA72A;
	box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__text__help__messHelp__steps:hover {
	
	cursor: pointer;
	
}

.caropka-headline__text__help__mess__close {
	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	background-image: linear-gradient(to right, transparent 20%, rgba(224, 224, 224, 0.8) 60%);
	opacity: 0;
	transition: all 300ms;
	
}

.caropka-headline__text__help__mess:hover .caropka-headline__text__help__mess__close {
	
	opacity: 1;
	
}

.caropka-headline__text__help__mess__close:hover {
	
	cursor: pointer;
	
}

.caropka-headline__text__help__mess__close::after {
	
	content: "";
	
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	
	top: 50%;
	margin-top: -10px;
	left: 100%;
	margin-left: -30px;
	
	background-image: url('https://caropka.ru/img/33.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.caropka-headline__text__help__mess__point {
	
	color: #cb1b20;
	
}

.caropka-headline__text__min {
	
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	
	top: 0;
	margin-top: 10px;
	left: 100%;
	margin-left: -30px;
	
	background-image: url('http://images.vfl.ru/ii/1563188591/995de611/27212151.png');
	background-size: 40%;
	background-position: center 14px;
	background-repeat: no-repeat;
	background-color: white;
	box-shadow: 0px 0px 2.5px grey;
	border-radius: 2.5px;
	
}

.caropka-headline__text__min:hover {
	
	cursor: pointer;
	
}

.caropka-headline__passCode {
	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	top: 0;
	left: 0;
	
	/* background-image: url(http://images.vfl.ru/ii/1563184705/45a4979f/27211366.png); */
	background-size: cover !important;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F2F2F2;
	background-blend-mode: hue;
	
}

.caropka-headline__passCode::after {
	
	content: "";
	
	display: block;
	position: absolute;
	width: 85%;
	left: 7.5%;
	min-height: 100px;
	height: 360px;
	top: 100%;
	margin-top: -660px;
	margin-left: 18px;

	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(http://images.vfl.ru/ii/1563184705/45a4979f/27211366.png);
	
}

.caropka-headline__text__codeBlock__close {
	
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	
	background-image: url('https://caropka.ru/img/33.png');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	
	top: 10px;
	left: 100%;
	margin-left: -50px;
	z-index: 10;
	
}

.caropka-headline__text__codeBlock__close:hover {
	
	cursor: pointer;
	
}

.caropka-headline__codeHidden {
	
	display: block;
	position: absolute;
	width: 210px;
	height: 40px;
	line-height: 35px !important;
	font-size: 13px;
	color: black;
	top: 100%;
	margin-top: -64px;
	border: 2px solid white;
	border-radius: 5px;
	left: 30px;
	font-weight: 200;
	text-align: center;
	box-sizing: border-box !important;
	
	background-color: transparent;
	color: white;
	font-family: 'Roboto', sans-serif !important;
	
}

.caropka-headline__codeHidden:hover {
	
	cursor: pointer;
	background-color: white;
	color: #FFC340;
	
}

.caropka-headline__logo {
	
	background-image: url(http://images.vfl.ru/ii/1563135979/37860f98/27206265.png);
	background-size: cover !important;
	box-shadow: 0px 0px 5px black;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 30px !important;
	margin-top: 22px !important;
	
}

.caropka-headline__logo--min {
	
	width: 60px;
	height: 60px;
	position: absolute;
	display: block;
	top: 50% !important;
	left: 0 !important;
	margin-top: -30px !important;
	box-shadow: none;
	
}

.caropka-headline__logo--min::after {
	
	content: "Celestaver";
	
	display: block;
	position: absolute;
	width: 148px;
	height: 40px;
	line-height: 40px;
	top: 50%;
	margin-top: -20px;
	left: 100%;
	margin-left: 18px;
	font-family: "Cabin Sketch", cursive !important;
	font-size: 28px;
	border-right: 2px solid white;
	
}

.caropka-headline__about-site__table__headline {
	
	padding-left: 280px;
	line-height: 82px;
	
}

.caropka-headline__menu {
	
	/* background-image: url(http://images.vfl.ru/ii/1563169206/f46beb11/27208961.png); */
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(224, 224, 224, 0.5);
	background-blend-mode: hue;
	border-top: 2px solid #000000 !important;
	border-bottom: 2px solid #000000 !important;
	border-radius: 0px !important;
	box-sizing: border-box !important;
	
}

.caropka-headline__count__hidden-module,
.caropka-headline__count__go,
.caropka-headline__head,
.caropka-headline__count {
	
	box-sizing: border-box !important;
	
}

.caropka-headline__head__icon {
	
	display: block;
	position: absolute;
	width: 220px;
	height: 300px;
	
	left: 100%;
	margin-left: -200px !important;
	margin-left: -90px;
	top: 50%;
	margin-top: 32px;
	
	background-image: url(http://images.vfl.ru/ii/1563184705/45a4979f/27211366.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	
}

.caropka-headline__head__intMode {
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 5px;
	box-shadow: 0px 0px 2.5px grey;
	background-color: white;
	
	left: 100%;
	margin-left: -180px;
	z-index: 10;
	top: 0;
	margin-top: 108px;
}

#IntModeOn {
	background-position: 7.2px center;
    background-size: 35%;
    background-image: url(http://images.vfl.ru/ii/1563188301/1181c3e2/27211938.png);
    background-repeat: no-repeat;
}

.caropka-headline__head__intMode:hover {
	cursor: pointer;
}

.caropka-headline__head__intMode:after {
	content: "Умный режим";
	display: block;
	position: absolute;
	width: 140px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	
	top: 50%;
	margin-top: -15px;
	left: 0;
	margin-left: 34px;
}

.caropka-headline__comps--modal {
	
	display: block;
	position: absolute;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	box-shadow: 0px 0px 2.5px black;
	
	left: 100%;
	margin-left: 20px;
	top: 0;
	margin-top: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(http://images.vfl.ru/ii/1563135979/37860f98/27206265.png);
	
	filter: grayscale(1);
	transition: all 300ms;
	z-index: 5;
	
}

.caropka-headline__comps--quiz {
	
	background-image: url(http://images.vfl.ru/ii/1563135979/37860f98/27206265.png);
	
}

.caropka-headline__comps--quiz {
	
	margin-top: 106px;
	
}

.caropka-headline__comps--modal:hover {
	
	cursor: pointer;
	filter: grayscale(0);
	
}

.caropka-headline__comps--modal:hover .caropka-headline__comps--modal__title {
	
	left: 84px;
	opacity: 1;
	
}

.caropka-headline__comps--modal__title {
	
	display: block;
	position: absolute;
	width: 180px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	/* left: 84px; */
	left: 0;
	opacity: 0;
	line-height: 40px;
	background-color: #FFC340;
	color: black;
	text-align: center;
	font-size: 13px;
	border-radius: 5px;
	transition: all 300ms;
	
}

.__about-site__table__t__log {
	
	display: block;
    position: relative;
    width: 240px;
    height: 40px;
    line-height: 38px;
    padding-bottom: 2px !important;
    font-size: 12px;
    text-align: center;
    background-color: #74C8D0;
    box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white !important;
    margin-top: 30px;
	
}

.__about-site__table__t__log:hover {
	
	cursor: pointer;
	
}

/* adaptive */

@media screen and (max-height: 900px) {
  
	.caropka-headline__head__icon { display: none; }
	.caropka-headline__head--help {
		
		background-image: none;
		transform: translateX(-34px);
		height: 120px !important;
		background-color: white !important;
		border-radius: 10px !important;
		padding-top: 33px !important;
		
	}
	
}